<header>
    
    <!-- Nav Bar -->
    <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %}">
	
<!-- 	<a href="https://www.osu.edu/"> <img src="../assets/img/topleft.png" alt="error"></a> -->
	
     <div class="container-fluid">
      
      {% if site.enable_navbar_social %}
        <!-- Social Icons -->
        <div class="navbar-brand social">
      {% include social.html %}
        </div>
      {% endif %}
	     
      <!-- Navbar Toggle -->
      <button class="navbar-toggler collapsed ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      
	    <a class="navbar-brand" href="https://www.osu.edu/"> <img src="../assets/img/1.png" class="img-responsive" alt="error"></a>
	    
      <div class="collapse navbar-collapse text-right" id="navbarNav">
        <ul class="navbar-nav mx-auto flex-nowrap">
          <!-- About -->
          <li class="nav-item {% if page.title == 'about' %}active{% endif %}">
            <a class="nav-link" href="{{ '/' | relative_url }}">
              Home
              {% if page.title == "about" %}
                <span class="sr-only">(current)</span>
              {% endif %}
            </a>
          </li>
          <!-- Other pages -->
		  
          <li class="nav-item {% if page.title == 'people' %}active{% endif %}">
              <a class="nav-link" href="{{ '/people' | relative_url }}">
                People
                {% if page.title == "people" %}
                <span class="sr-only">(current)</span>
                {% endif %}
              </a>
          </li>
		  
		  <li class="nav-item {% if page.title == 'publication' %}active{% endif %}">
              <a class="nav-link" href="{{ '/publications' | relative_url }}">
                Publications
                {% if page.title == "publication" %}
                <span class="sr-only">(current)</span>
                {% endif %}
              </a>
          </li>
		  
		 
		  <li class="nav-item {% if page.title == 'sponsor' %}active{% endif %}">
              <a class="nav-link" href="{{ '/sponsors' | relative_url }}">
                Sponsors
                {% if page.title == "sponsor" %}
                <span class="sr-only">(current)</span>
                {% endif %}
              </a>
          </li>

		  <li class="nav-item {% if page.title == 'joinus' %}active{% endif %}">
              <a class="nav-link" href="{{ '/joinus' | relative_url }}">
                Join Us
                {% if page.title == "joinus" %}
                <span class="sr-only">(current)</span>
                {% endif %}
              </a>
          </li>		  
		 
        </ul>
      </div>
	    <a class="navbar-brand" href="https://www.osu.edu/"> <img src="../assets/img/2.jpg" class="img-responsive" alt="error"></a>
    </div>
	
<!-- 	<a href="https://www.osu.edu/"> <img src="../assets/img/logo.jpg" alt="error"></a> -->
	
  </nav>

</header>
