---
layout: default
---

<center><img src="./assets/img/OSU.jpg" alt="error"></center>
<div style="position:relative;">
<span style="position:absolute;left:25%;top:55%;font-weight:bold;color:white;font-size:50px;letter-spacing:5px;font-family:Verdana, sans-serif">NLP Group @ OSU</span>
</div>
</div>
<p></p>

  <div class="container  mt-5">
  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
	
	<a class="twitter-timeline" data-height="400" href="https://twitter.com/osunlp">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
     
    </div>
    {% endif %}

    <div class="clearfix">
	  <p style="color:rgb(123,36,28); font-size:35px; font-weight:bold">Welcome to the NLP Group@OSU</p>
      {{ content }}
    </div>

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
    </div>
    {% endif %}
   
  </article>
