---
layout: default
---

<!--center><img src="./assets/img/OSU.jpg" alt="error"></center-->


<!-- <div style="position:relative;">
<span style="position:absolute;left:25%;top:55%;font-weight:bold;color:white;font-size:50px;letter-spacing:5px;font-family:Verdana, sans-serif">NLP Group @ OSU</span>
</div> -->

<p></p>

  <div class="container  mt-5">

    <header class="post-header">
      <h1 class="post-title">
        Welcome to the NLP Group@OSU &nbsp;<a href="https://twitter.com/osunlp" title="Twitter"><i class="fab fa-twitter"></i></a>
      </h1>
       <p class="desc"></p>
    </header>
  <article>

    <div class="clearfix">
      <p style="text-align:justify; text-justify:inter-ideograph; font-family: Roboto; margin-top: 3rem;">

        <p> The research group's primary interests encompass Natural Language Processing (NLP), Data Mining, and Artificial Intelligence (AI), with a specific focus on the critical role of language in both human and artificial intelligence. We're interested in applying NLP to various areas, including question answering systems, natural language interfaces, network analysis, and understanding human behavior. We have a strong interest in foundation models, such as large language models (LLMs) and multimodal models, as we believe they are key to advancing AI towards more general applications and we're dedicated to thoroughly studying them. Additionally, we prioritize factors like generalizability, interpretability, efficiency, and robustness in our research. Lastly, we're committed to translational research, leveraging AI to empower various domains like biology and biomedicine, and drawing inspiration from these fields to enhance AI development.</p> 
      
      </p>
      <br>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
            </li><li data-target="#carouselExampleIndicators" data-slide-to="1" class="">
            </li><li data-target="#carouselExampleIndicators" data-slide-to="2" class="">
            </li><li data-target="#carouselExampleIndicators" data-slide-to="3" class="">
            </li><li data-target="#carouselExampleIndicators" data-slide-to="4" class="">
            </li><li data-target="#carouselExampleIndicators" data-slide-to="5" class="">
          </li></ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="../assets/img/AI-pose.jpg" alt="First photo">
              <div class="carousel-caption d-none d-md-block">
                <h5>April 2023</h5>
                <p>AI pose at Scioto Audubon Metro Park</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../assets/img/group-photo-2.jpg" alt="Second photo">
              <div class="carousel-caption d-none d-md-block">
                <h5>April 2023</h5>
                <p>Zhen graduated</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../assets/img/osu-nlp-2022Fall.jpeg" alt="Third photo">
              <div class="carousel-caption d-none d-md-block">
                <h5>Fall 2022</h5>
                <p>Welcoming new members to the OSU NLP group</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../assets/img/102021-botanicgarden.png" alt="Fourth photo">
              <div class="carousel-caption d-none d-md-block">
                <h5>October 2021</h5>
                <p>Botanical Garden</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../assets/img/2021-Ziyu-graduating-2.jpg" alt="Fifth photo">
              <div class="carousel-caption d-none d-md-block">
                <h5>July 2021</h5>
                <p>Ziyu graduated</p>
              </div>
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="../assets/img/2020-Bernhard-LeavingOSU.jpg" alt="Sixth photo">
              <div class="carousel-caption d-none d-md-block">
                <h5>Pre-pandemic 2020</h5>
                <p>Farewell brunch for Bernhard</p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="width: 70px; height: 70px"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="width: 70px; height: 70px"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        {{content}}
    </div>


    <div class="news" style = "margin-top: 3%; height: 1%">
      <h2>News</h2>
      <br>
        <div class="table-responsive">
          <table class="table table-sm table-borderless">
          
            <tbody>
              {% for element in site.data.news.news %}
            <tr>
              <th scope="row">{{element.date}}</th>
              <td>
                  {{element.content}}
              </td>
            </tr>
             {% endfor %}
          
          </tbody></table>
        </div>
      
    </div>



    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
    </div>
    {% endif %}
   
  </article>
