---
layout: parse
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl | prepend: site.url }}/" />
  {%- endif -%}
  {% include head.html %}
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
  </head>

  <!-- Body -->
  <body class="{%- if site.navbar_fixed -%}fixed-top-nav{%- endif -%} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->

      {{ content }}
    </div>

    <!-- Footer -->
    {%- include footer.html %}
    
    <script type="text/javascript">
        $(function() {
            $('.search').on('click', function() {
                // console.log($('#filterName').val());
                $('li').hide()
                    .filter(":contains('" + ($('#filterYear').val()||$('#filterName').val()) + "')")
                    .show();
            })
        })
		
    </script>

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
  </body>
</html>
