---
layout: default
---

<div class="container  mt-5">


  <p style="color:rgb(123,36,28); font-size:25px; font-weight:bold">{{ page.faculty }}</p>
  
<div class="row">

  {% for member in site.data.members.Faculty %}
  <div class="column">
    <div  align="center">
	  <div>
      <img src="../assets/img/people/{{member.image}}" alt="ImageNotFound"></div>
      <div class="container">
	    
        <p style="text-align: center; font-size:16px"> <a href="{{ member.personal_link }}">{{ member.full_name }}</a> <br>
        <a href="{{member.twitter}}"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;<a href="mailto:{{member.email}}"><i class="fas fa-envelope"></i></a>
        </p>
      </div>
    </div>
  </div>
 {% endfor %}   

</div>

  
  <p style="color:rgb(123,36,28); font-size:25px; font-weight:bold">{{ page.phd }}</p>

  <div class="row">

    {% for member in site.data.members.PhD_students %}
    <div class="column">
      <div  align="center">
      <div>
        <img src="../assets/img/people/{{member.image}}" alt="ImageNotFound"></div>
        <div class="container">
          <p style="text-align: center; font-size:16px"> <a href="{{ member.personal_link }}">{{ member.full_name }}</a> <br>
            <a href="{{member.twitter}}"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;<a href="mailto:{{member.email}}"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
    </div>
   {% endfor %}   
  
  </div>


  <!--

  <p style="color:rgb(123,36,28); font-size:25px; font-weight:bold">{{ page.master }}</p>

  <div class="row">

    {% for member in site.data.members.MS_students %}
    <div class="column">
      <div  align="center">
      <div>
        <img src="../assets/img/people/{{member.image}}" alt="ImageNotFound"></div>
        <div class="container">
        <p></p>
          <p style="text-align: center; font-size:16px"> <a href="{{ member.personal_link }}">{{ member.full_name }}</a></p>
        </div>
      </div>
    </div>
   {% endfor %}   
  
  </div>

  <p style="color:rgb(123,36,28); font-size:25px; font-weight:bold">{{ page.undergrad }}</p>

  <div class="row">

    {% for member in site.data.members.Undergrads %}
    <div class="column">
      <div  align="center">
      <div>
        <img src="../assets/img/people/{{member.image}}" alt="ImageNotFound"></div>
        <div class="container">
        <p></p>
          <p style="text-align: center; font-size:16px"> <a href="{{ member.personal_link }}">{{ member.full_name }}</a></p>
        </div>
      </div>
    </div>
   {% endfor %}   
  
  </div>

-->
  
  <p style="color:rgb(123,36,28); font-size:25px; font-weight:bold">{{ page.alumni }}</p>

  <div class="row">
    <ul>
    {% for member in site.data.members.Alumni %}
    <li>
      <div>
          <p style="text-align: left; font-size:16px"> <a href="{{ member.personal_link }}">{{ member.full_name }}</a>
           ({{member.former_standing}}, {{member.completion_year}}) → {{member.current_position}}, {{member.current_organization}} </p>
   
      </div>
  </li>
   {% endfor %}   
  </ul>
  </div>

  

</div>
