---
layout: default
---

<div class="container  mt-5">


  <p style="color:rgb(123,36,28); font-size:25px; font-weight:bold">{{ page.faculty }}</p>
  
<div class="row">

  {% for member in site.data.members.Faculty %}
  <div class="column">
    <div  align="center">
	  <div>
      <img src="../assets/img/people/{{member.image}}" alt="ImageNotFound"></div>
      <div class="container">
	    <p></p>
        <p style="text-align: center; font-size:16px"> <a href="{{ member.personal_link }}">{{ member.full_name }}</a></p>
        <!--<i class="fab fa-twitter"></i>&nbsp;&nbsp;<i class="fas fa-envelope"></i> -->
      </div>
    </div>
  </div>
 {% endfor %}   

</div>

  <p style="color:rgb(123,36,28); font-size:25px; font-weight:bold">{{ page.postdocs }}</p>

  <div class="row">

    {% for member in site.data.members.PostDocs %}
    <div class="column">
      <div  align="center">
      <div>
        <img src="../assets/img/people/{{member.image}}" alt="ImageNotFound"></div>
        <div class="container">
        <p></p>
          <p style="text-align: center; font-size:16px"> <a href="{{ member.personal_link }}">{{ member.full_name }}</a></p>
          <!--<i class="fab fa-twitter"></i>&nbsp;&nbsp;<i class="fas fa-envelope"></i> -->
        </div>
      </div>
    </div>
   {% endfor %}   
  
  </div>
  
  <p style="color:rgb(123,36,28); font-size:25px; font-weight:bold">{{ page.phd }}</p>

  <div class="row">

    {% for member in site.data.members.PhD_students %}
    <div class="column">
      <div  align="center">
      <div>
        <img src="../assets/img/people/{{member.image}}" alt="ImageNotFound"></div>
        <div class="container">
        <p></p>
          <p style="text-align: center; font-size:16px"> <a href="{{ member.personal_link }}">{{ member.full_name }}</a></p>
        </div>
      </div>
    </div>
   {% endfor %}   
  
  </div>


  <!--

  <p style="color:rgb(123,36,28); font-size:25px; font-weight:bold">{{ page.master }}</p>

  <div class="row">

    {% for member in site.data.members.MS_students %}
    <div class="column">
      <div  align="center">
      <div>
        <img src="../assets/img/people/{{member.image}}" alt="ImageNotFound"></div>
        <div class="container">
        <p></p>
          <p style="text-align: center; font-size:16px"> <a href="{{ member.personal_link }}">{{ member.full_name }}</a></p>
        </div>
      </div>
    </div>
   {% endfor %}   
  
  </div>

  <p style="color:rgb(123,36,28); font-size:25px; font-weight:bold">{{ page.undergrad }}</p>

  <div class="row">

    {% for member in site.data.members.Undergrads %}
    <div class="column">
      <div  align="center">
      <div>
        <img src="../assets/img/people/{{member.image}}" alt="ImageNotFound"></div>
        <div class="container">
        <p></p>
          <p style="text-align: center; font-size:16px"> <a href="{{ member.personal_link }}">{{ member.full_name }}</a></p>
        </div>
      </div>
    </div>
   {% endfor %}   
  
  </div>
  
  <p style="color:rgb(123,36,28); font-size:25px; font-weight:bold">{{ page.alumni }}</p>

  <div class="row">

    {% for member in site.data.members.Alumni %}
    <div class="column">
      <div  align="center">
      <div>
        <img src="../assets/img/people/{{member.image}}" alt="ImageNotFound"></div>
        <div class="container">
        <p></p>
          <p style="text-align: center; font-size:16px"> <a href="{{ member.personal_link }}">{{ member.full_name }}</a></p>
        </div>
      </div>
    </div>
   {% endfor %}   
  
  </div>
  -->
  

</div>
