---
layout: default
---

<div class="container  mt-5">


  <p style="color:rgb(123,36,28); font-size:35px; font-weight:bold">{{ page.faculty }}</p>
  
<div class="row">
  
  <div class="column">
    <div  align="center">
	  <div>
      <img src="../assets/img/people/SuYu.png" alt="YuSu"></div>
      <div class="container">
	    <p></p>
        <p style="text-align: center; font-size:20px">Prof. Yu Su</p>
        <i class="fab fa-twitter"></i>&nbsp;&nbsp;<i class="fas fa-envelope"></i>
      </div>
    </div>
  </div>

  <div class="column">
    <div align="center">
	  <div>
      <img src="../assets/img/people/SuYu.png" alt="YuSu"></div>
      <div class="container">
	    <p></p>
        <p style="text-align: center; font-size:20px">Prof. Yu Su</p>
        <i class="fab fa-twitter"></i>&nbsp;&nbsp;<i class="fas fa-envelope"></i>
      </div>
    </div>
  </div>
  
    <div class="column">
    <div align="center">
	  <div>
      <img src="../assets/img/people/SuYu.png" alt="YuSu"></div>
      <div class="container">
	    <p></p>
        <p style="text-align: center; font-size:20px">Prof. Yu Su</p>
        <i class="fab fa-twitter"></i>&nbsp;&nbsp;<i class="fas fa-envelope"></i>
      </div>
    </div>
  </div>

</div>
  
  <p style="color:rgb(123,36,28); font-size:35px; font-weight:bold">{{ page.phd }}</p>
  <p style="color:rgb(123,36,28); font-size:35px; font-weight:bold">{{ page.master }}</p>
  <p style="color:rgb(123,36,28); font-size:35px; font-weight:bold">{{ page.undergrad }}</p>
  <p style="color:rgb(123,36,28); font-size:35px; font-weight:bold">{{ page.alumni }}</p>
  

</div>
