---
layout: default
---


<div class="container  mt-5">
 <p style="color:rgb(123,36,28); font-size:15px; font-weight:bold">Keywords      
  <input id="filterName" name="filterName"> 
  
  &nbsp;&nbsp;Year
  <input id="filterYear" name="filterYear" list="yearlist" placeholder="All">
  <datalist id="yearlist">
      <option>All</option>
   <option>1905</option>
   <option>1935</option>
   <option>1950</option>
   <option>1956</option>
  </datalist>
  
  &nbsp;&nbsp;Venue
  <input id="filterVenue" name="filterVenue" list="venuelist" placeholder="All">
  <datalist id="venuelist">
      <option>All</option>
   <option>journal</option>
      <option>conference</option>
  </datalist>
  
        <button class="search" style="color:rgb(123,36,28); font-size:15px; font-weight:bold">Search</button> 
 

 
  <article>

    {{ content }}

  </article>
  

</div>